.post {
    text-decoration: none;
    color: var(--black);
}

.post__wrapper {
    width: 100%;
    min-height: 50px;
    padding: 8px;
    border: 1px solid var(--offwhite);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.post__wrapper:hover {
    background: var(--offwhite);
}

.post__title {
    font-size: var(--heading3);
    color: var(--blue);
    font-weight: 600;
}