.posts {
  max-width: 800px;
  margin: 20px auto 20px;
}

.posts__heading {
  font-size: var(--heading1);
  color: var(--deepblue);
}

.posts__pagination {
  margin: 20px 0 40px;
}

@media screen and (max-width: 600px) {
  .posts {
    width: 100%;
    padding: 20px;
  }
}